/* .App {
  text-align: center;
} */
.selected {
    color: rgb(33, 121, 194);
    font-weight: bold;
}
.answer {
    border-bottom: 1px solid blue;
    font-size: 1.5rem;
}

.correct {
    color: rgb(17, 218, 17);
}

.wrong {
    color: rgb(218, 17, 17);
}
